* {
    margin: 0;
    padding: 0;
    font-family:verdana;
}

body {
    width: 100%;
    background-color: var(--primary-gray);
    font-size: 115%;
}

main {
    display: grid;
    width: 60%;
    margin: auto;
}

h1,
h2,
h3 {
    padding-top: 2px;
    padding-bottom: 2px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
    max-width: 150px;
}

nav li {
    padding: 8px;
    border-radius: 4px;
    margin: auto;
}

nav li:hover {
    background-color: var(--accent-blue);
}

nav a {
    color: var(--primary-title-text);
    text-decoration: none;
}

nav a:visited {
    color: var(--primary-title-text);
}

.title-bar {
    background-color: var(--primary-blue);
    padding: 10px;
    margin: auto;
}

.title-text {
    color: var(--primary-title-text);
    margin:auto;
    max-width:700px;
}

.active {
    background-color: var(--accent-blue);
}

article {
    margin-top: 10px;
    margin-left:auto;
    margin-right:auto;
    background-color: var(--article-fill);
    border-radius: 4px;
    padding: 7px;
    max-width: 950px;
    width:100%;
}

article ul {
    list-style: none;
}

article header {
    color: var(--primary-body-text);
}

article p {
    color: var(--primary-body-text);
}

.info {
    text-align: center;
    margin: 15px auto 15px auto;
    text-wrap:balance;
}

:root {
    --primary-blue: #0860a5;
    --accent-blue: #173b57;
    --primary-gray: #c5d6e4;
    --primary-title-text: #dde2f0;
    --primary-body-text: #000000;
    --article-fill: #dce6ee;
}