* {
    margin: 0;
    padding: 0;
    font-family: verdana;
}

body {
    width: 100%;
    background-color: var(--primary-gray);
    font-size: 115%;
}

main {
    display: grid;
    width: 60%;
    margin: auto;
}

main>* {
    max-width: 950px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

h1,
h2,
h3 {
    padding-top: 2px;
    padding-bottom: 2px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
    max-width: 150px;
}

nav li {
    padding: 8px;
    border-radius: 4px;
    margin: auto;
}

nav li:hover {
    background-color: var(--accent-blue);
}

nav a {
    color: var(--primary-title-text);
    text-decoration: none;
}

nav a:visited {
    color: var(--primary-title-text);
}

.tabs-container-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    border-bottom: 3px solid var(--accent-blue);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-bottom: 14px;
    padding-left: 14px;
    padding-right: 14px;
}

.tabs-container-list li {
    margin: 7px;
}

.tabs-container-list a {
    color: var(--primary-body-text);
    text-decoration: none;
    padding: 6px;
    border-radius: 2px;
}

.tabs-container-list a:visited {
    color: var(--primary-body-text);
}

.tabs-container-list li:hover>* {
    background-color: var(--accent-blue);
    color: var(--primary-title-text);
}

.title-bar {
    background-color: var(--primary-blue);
    padding: 10px;
    margin: auto;
}

.title-text {
    color: var(--primary-title-text);
    margin: auto;
    max-width: 700px;
}

.active {
    background-color: var(--accent-blue);
}

.tabs-container-list li .active {
    color: var(--primary-title-text);
}

.tabs-panels div {
    margin-top: 10px;
    background-color: var(--article-fill);
    border-radius: 4px;
    padding: 14px;
}

.tabs-panels div ul {
    list-style: none;
}

.tabs-panels div header {
    color: var(--primary-body-text);
}

.tabs-panels div p {
    color: var(--primary-body-text);
}

.info {
    text-align: center;
    margin: 15px auto 15px auto;
    text-wrap: balance;
}

:root {
    --primary-blue: #0860a5;
    --accent-blue: #173b57;
    --primary-gray: #c5d6e4;
    --primary-title-text: #dde2f0;
    --primary-body-text: #000000;
    --article-fill: #dce6ee;
}